/*
  フォント名は Win と Mac で少しだけ異なる。
  Windows: "游ゴシック", "Yu Gothic"
  Mac: "游ゴシック体", "YuGothic"
*/
@font-face {
  font-family: "YuGothic M";
  src: local("Yu Gothic Medium"),
       local("Yu Gothic");
  font-weight: 500;
       /*
         Chrome 58.0.3029.110 (64-bit) では
         "Yu Gothic Medium" を認識しないバグあるため
         "Yu Gothic" と font-weight も併せて指定。
       */
}

html{
  height: 100%;
  width: 100vh;
  overflow: hidden;
}

body {
  font-family: Mon Sans, "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
  font-size: 18px;
}

ol, ul {
  padding-left: 30px;
}

h1{
  text-align: center;
  font-size: 46px;
  margin: 0;
}

h2{
  text-align: center;
  margin: 0;
  vertical-align: middle;
}

a{
  color: orange;
}

form{
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  margin-top: 40px;
}

.appear-form{
  opacity: 0;
}

.appear-form.active{
  animation: appearance 1000ms ease 800ms forwards;
}

.main{
  color: #FFF;
  width: 80%;
  height: 90%;
}

.profile{
  background-color: rgba(30, 30, 30, .6);
  padding: 1vw;
}

.gameTitle {
  color: #FFF;
}

.bgImage {
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-repeat:no-repeat;
  background-position:center;
}

.pic-wapper {
  text-align: center;
}

.my-pic {
  border-radius: 50%;
  width: 200px;
}

.description {
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .profile {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  
  .pic-wapper {
    position: relative;
    width: calc(50% - 18px);
    max-width: 300px;
    margin: 18px 18px 18px 0;
  }

  .pic-wapper:before{
    content:"";
    display: block;
    padding-top: 100%;
  }

  .my-pic {
    height: auto;
    width: 100%;
    max-width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .description {
    width: 50%;
  }

  .tic-tac-toe{
    display: block;
  }
}

.mail-link{
  color: orange;
  cursor: pointer;
  text-decoration: underline;
}

.form-modal{
  width: 0;
  height: 0;
  border-radius: 100%;
	-webkit-border-radius: 100%;
  background-color: rgba(30, 30, 30, .6);
  z-index: -2;
}

.modal-active {
  z-index: 2;
  animation: open-form-modal 2000ms cubic-bezier(0.3, 0.3, 0.4, 1) 50ms forwards;
}

.form {
  width: 50%;
  height: 50%;
  z-index: -2;
  background-color: #FFF;
}

.form-active {
  z-index: 2;
  animation: open-form 2000ms cubic-bezier(0.3, 0.3, 0.4, 1) 50ms forwards;
}

.main, .bgImage, .form, .form-modal, .cp_iptxt button{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.sns {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.twitter, .github {
  display: inline-block;
  width: 50%;
}

.twitter_id {
  left: -70px;
  border: #1da1f2c4 1.5px solid;
}

.github_id {
  right: 0;
  border: #000000c4 1.5px solid;
}

.twitter_id, .github_id {
  position: absolute;
  top: -28px;
  font-size: 16px;
  border-radius: 50%;
  padding: 4px 9px;
  display: none;
  opacity: 0;
  background-color: rgba(30, 30, 30, .8);
  color: #FFF;
}

.svg-inline--fa.fa-w-16{
  width: inherit;
}

.sns .twitter svg {
  color: #FFF;
  background-color: #1da0f2c4;
  border-radius: 50%;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  padding: 10px;
  opacity: 0;
  animation: swingdown 1800ms 1000ms forwards;
}

.sns .twitter a:hover + .twitter_id {
  display: inline-block;
  animation: swingdown 1300ms forwards;
}

.sns .github svg {
  width: 50px;
  height: 50px;
  color: #000000c4;
  background-color: #FFF;
  border-radius: 50%;
  border: #000000c4 1px solid;
  opacity: 0;
  animation: swingdown 1800ms 1300ms forwards;
}

.sns .github a:hover + .github_id {
  display: inline-block;
  animation: swingdown 1300ms forwards;
}


.tic-tac-toe{
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  color: #FFF;
}


.cp_iptxt, .cp_body {
	position: relative;
  width: 90%;
  height: 40px;
	margin: 40px 5%;
}

.cp_body, .cp_body textarea{
  height: 120px !important;
}

.cp_iptxt input[type='text'], .cp_body textarea {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 6em;
}

.cp_iptxt input[type='text']:valid, .cp_body textarea:valid {
  background-color: rgb(232, 240, 254) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

.cp_iptxt input[type='text']:focus, .cp_body textarea:focus {
	outline: none;
}
.ef {
	padding: 7px 14px;
	transition: 0.4s;
	border: 1px solid #1b2538;
	background: transparent;
}
.ef ~ .focus_line:before,
.ef ~ .focus_line:after {
	position: absolute;
	top: -1px;
	left: 50%;
	width: 0;
	height: 2px;
	content: '';
	transition: 0.4s;
	background-color: #900A0A;
}
.ef ~ .focus_line:after {
	top: auto;
	bottom: 0;
}
.ef ~ .focus_line i:before,
.ef ~ .focus_line i:after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 2px;
	height: 0;
	content: '';
	transition: 0.6s;
	background-color: #900A0A;
}
.ef ~ .focus_line i:after {
	right: 0;
	left: auto;
}
.ef:focus ~ .focus_line:before,
.ef:focus ~ .focus_line:after,
.cp_iptxt.ef ~ .focus_line:before,
.cp_iptxt.ef ~ .focus_line:after {
	left: 0;
	width: 100%;
	transition: 0.4s;
}
.ef:focus ~ .focus_line i:before,
.ef:focus ~ .focus_line i:after,
.cp_iptxt.ef ~ .focus_line i:before,
.cp_iptxt.ef ~ .focus_line i:after {
	top: -1px;
	height: 100%;
	transition: 0.6s;
}
.ef ~ label {
	position: absolute;
	top: 6.5px;
	left: 14px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.ef:focus ~ label,
.cp_iptxt.ef ~ label {
	font-size: 16px;
	top: -20px;
	left: 0;
	transition: 0.3s;
	color: #900A0A;
}

.cp_iptxt i {
  color: #900A0A;
  font-size: 25px;
  transition: 2s;
}

.cp_iptxt button{
  left: calc(50% - 20px);
  right: calc(50% - 20px);
}

.ef_body{
  height: 120px;
}

.cp_btn{
  position: absolute;
  bottom: 0;
}

button{
  border-radius: 50%;
  transition: 2s;
}

button:hover {
  -webkit-transform: rotateY(720deg);
  transform: rotateY(720deg);
}

button:hover i {
  -webkit-transform: rotateX(720deg);
  transform: rotateX(720deg);
}

.wrapper {
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
  width: 100%;
  height: 100%;
}

.form-alert{
  display: none;
}


@keyframes appearance {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@keyframes open-form-modal {
  0% {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    z-index: 2;
  }
  30% {
    border-radius: 50%;
  }
  100% {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    z-index: 999;
  }
}

@keyframes open-form {
  0% {
    border-radius: 50%;
    z-index: 2;
  }
  30% {
    border-radius: 50%;
  }
  100% {
    width: 80%;
    height: 90%;
    border-radius: 0;
    z-index: 999;
  }
}

@keyframes swingdown {
  0% {
    opacity: .99999;
    transform: rotateX(90deg);
  }

  30% {
    transform: rotateX(-30deg) rotateY(5deg);
    animation-timing-function: ease-in-out;
  }

  65% {
    transform: rotateX(30deg) rotateY(-3deg);
    animation-timing-function: ease-in-out;
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
    animation-timing-function: ease-in-out;
  }
}